[Unit]
Description=Schedules Plex Sync
Requires=csfreakplex-sync.service

[Timer]
Unit=csfreakplex-sync.service
OnUnitInactiveSec=1h
AccuracySec=1m

[Install]
WantedBy=timers.target
